page-mprincipal {
    .texto{
        .titulo{
            text-align: center;
            font-size: 32pt;
            font-weight: 300;
        }
        .creditos{
            text-align: left;
            font-size: 15pt;
            font-weight: 300;
            margin-top: 50px;
        }
    }
}
